extends layout

block content
  div#menu-strip
    h1#menu-title= title
  div.container
    div.row
      div.col-md-12#login-cont
        form.login-cont(action='/room', method='post')
          div
            | Name:
          br
          input.login-line#login-name(type='text', name='username')
          br
          input.login-line#login-button(type='submit' value='Go')

