extends layout

block content
  div#menu-strip
    h1#menu-title= title
  div.container
    div.row
      div.col-md-4#chat-cont
      div.col-md-8#video-cont
        video#main-video.video-entry('controls')
          // FIXME: this should come from the web app (config -> node js -> jade -> html)
          source(src='vid/The Big Bang Theory - 01x01 - Pilot-1.m4v')
    div.row
      div.col-md-4.chat-input-cont
        input.chat-input
        div.chat-send
          | Send
      div.col-md-8
    div.row
      div.col-md-4#users-cont
        p Users:
      div.col-md-8