@font-face {
    font-family:'OpenSans';
    src: url('../fnt/OpenSans-Regular.ttf') format ('ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    
}

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  line-height: 1em;
}

a {
  color: #00B7FF;
}

.error-msg {
    color: red;
}

#login-cont {
    margin-top: 150px;
}

#login-error-cont {
    margin-top: 20px;
}

.login-cont {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.login-line {
    margin-bottom: 5px;
}

#login-button-cont {
    position: relative;
    left: 80px;
}

#login-button {
    /* padding: 2px 20px; */
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

#login-name {
    width: 148px;
}

#menu-strip {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  background-color: #29B6F6;
}

#menu-title
{
    line-height: 1em;
    margin: 0 0;
}

.container {
  padding-top: 50px;
}

#video-cont
{
    padding: 0 0;
}

#chat-cont-wrapper
{

}

#chat-cont
{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.chat-text {
    padding-top:3px;
    padding-bottom:3px;
    margin: 0 0;
}

.me {
    color: blue;
}

.chat-input-cont {
    height: 28px;
}

.chat-input {
    height: 28px;
    display: inline;
    position: absolute;
    left: 0;
    width: 297px;
}

.chat-send {
    background-color: #AAAAAA;
    display: inline;
    position: absolute;
    right: 0;
    padding: 5px 25px;
    user-select: none; 
    -o-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
}

.chat-send:hover {
    cursor: pointer;
}

#users-cont {
    padding-top: 15px;
}

.users-title {
    font-weight: bold;
}


